.search-bar-container {
    display: flex;
    border-radius: 1.3em;
    overflow: hidden;
}

.search-submit {
    background-color: #fb9802;
    border: none;
    padding: 0.3em;
}

.search-icon {
    border: none;
    min-width: 30px;
    width: 2vw;
}

#search-bar {
    padding-left: 5px;
    outline: none;
    border: none;
    width: 60vw;
    max-width: 600px;
    font-size: 1rem;
}
