.sort-bar {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5em;
    padding: 0 10px;
}

.sort-bar h3 {
    margin-right: auto;
}

.sort-bar-selection {
    display: inline-block;
}
