* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #7f1212;
    color: #fb9802;
    padding: 0.3em;
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
