* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #7f1212;
    color: #fb9802;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 70vh;
}

h2 {
    justify-self: center;
}
