* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #7f1212;
    color: #fb9802;
    padding: 0.3em;
    font-size: 2rem;
}

/* --------- Header ---------- */

header {
    padding: 1em;
    background-color: #000;
    border-radius: 10px 10px 0 0;
}

.hero {
    height: 20vh;

    border-radius: 0 0 10px 10px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-container {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}

.search-submit {
    background-color: #fb9802;
    height: 2rem;
    width: auto;
}

.search-icon {
    height: 2rem;
}

#search-bar {
    outline: none;
    border: none;
    width: 40rem;
    font-size: 1.3rem;
}

/* --------- Sort Bar ---------- */

.sort-bar {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5em;
    padding: 0 10px;
}

.sort-bar h3 {
    margin-right: auto;
}

.sort-bar-selection {
    display: inline-block;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    width: 5rem;
    cursor: pointer;
    font-size: 1rem;
}

.sort-bar-selection .dropdown {
    position: absolute;
    color: #000;
}

ul {
    background-color: #b69f27;
    font-size: 1rem;
}

li {
    list-style-type: none;
    text-align: center;
    padding: 10px 15px;
    width: 5rem;
    cursor: pointer;
}

/* ------- Movies Grid --------- */

.movies-grid {
    margin-top: 1em;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.movie {
    border: 1px solid #fb9802;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.movie-poster {
    height: 200px;
}
